:root{
    --primary: #007bff;
    --secondary: #6c757d;
}

*, body{
    text-align: left;
    color: white;
    background-color: #bbb;
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2{
    color:black;
    font-size: 3em;
    margin: .5%;
    
}

table{
    border: 2px solid var(--primary); 
    border-radius: 20px;
    padding: 0%;
    background-color: var(--primary);
    width: fit-content;
}

td{
    border: 1px solid var(--primary);
    border-radius: 10px;
    background-color: var(--secondary);
    width: fit-content;
    padding: 10px;
}